<audio controls>
  <source src="<%=  document._source["full_image_url_ssm"][0] %>" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<br>
<font color="blue">
<a href="<%=document._source["full_image_url_ssm"][0]%>">Download here</a>
</font>